button {
  padding: 10px 15px;
  background-color: var(--color-principal);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-principal-hover);
}